.analytics {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* header */
.analytics-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15rem;
}

.analytics-header-item {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    animation: slideUp 0.8s forwards;
    animation-play-state: paused;
}

.analytics-header-title {
    width: 60%;
    text-align: center;
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.analytics-header-description {
    width: 60%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.analytics-header-banner {
    width: 90%;
}

.analytics-header-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
