.App {
  width: 90%;
  height: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.app-body {
  width: 100%;
  margin-top: 13rem;
}


@media screen and (max-width: 650px) { 
  .App {
    width: 90%;
    margin-top: 2%;
  }
}

