.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30%;
    gap: 5%;
    color: #787878;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40%;
}

.footer-icon {
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.footer-icon:hover {
    color: #000;
    scale: 1.02;
}

.footer-right {
    font-size: 1.2rem;
}


/*  mobile view */
@media screen and (max-width: 650px) {
    .footer-left {
        gap: 30%;
    }

    .footer-icon {
        font-size: 1.2rem;
    }

    .footer-right {
        font-size: 1rem;
    }
}