.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding-top: 10%;
    margin-bottom: 30%;
    gap: 5%;
    color: #787878;
}

.footer-right {
    font-size: 1.2rem;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40%;
}

.footer-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.footer-icon:hover {
    color: #000;
    scale: 1.03;
}




/*  mobile view */
@media screen and (max-width: 650px) {
    .footer-left {
        gap: 30%;
    }

    .footer-icon {
        font-size: 1.2rem;
    }

    .footer-right {
        font-size: 1rem;
    }
}