.Home {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #1B1B1B;
    
    margin-bottom: 30%;
}


/* title */
.home-title {
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title-bold {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2%;
}

.home-title-regular {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}

.home-title-description {
    text-align: center;
    font-size: 1rem;
    color: #787878;
    margin-bottom: 5%;
}


/* sign up field */
.home-sigup-field {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


/* video player */
.home-video {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}


/* features */
.home-features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.home-features-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    gap: 2%;
}

.home-features-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-features-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-features-bottom .home-features-item {
    width: 100%;
}

.home-features-item-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.home-features-item-description {
    font-size: 1rem;
    color: #787878;
    margin-bottom: 1rem;
}

.home-features-item-video {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: 5%;
}

.home-features-bottom .home-features-video {
    width: 100%;
    height: 50vh;
}




/* mobile view  */
@media screen and (max-width: 500px) {
    .home-features-item {
        margin-bottom: 10%;
    }
}


@media screen and (max-width: 650px) {
    .home-title-bold {
        font-size: 1.7rem;
    }
    
    .home-title-regular {
        font-size: 1.2rem;
    }
    
    .home-title-description {
        font-size: 0.8rem;
    }

    .home-video {
        margin-bottom: 30%;
    }

    .home-features {
        margin-bottom: 50%;
    }
    
    .home-features-top {
        flex-direction: column;
        align-items: center;
        gap: 5%;
    }
    
    .home-features-item {
        width: 100%;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .home-features-bottom {
        flex-direction: row;
        align-items: flex-start;
        gap: 5%;
    }
    
    .home-features-item-title {
        font-size: 1.2rem;
    }
    
    .home-features-item-description {
        font-size: 1rem;
    }

    .home-features-item-video {
        border-radius: 0.5rem;
    }
    
    .home-features-item-video-container {
        width: 100%;
        height: 20vh;
    }
    
    .home-features-bottom .home-features-item {
        width: 100%;
        height: 20vh;
    }
}


