.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13rem;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;

}

/* navbar logo */
.navbar-logo {
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.navbar-logo img {
    width: 100%;
}

.navbar-logo:hover {
    transform: scale(1.05);
}




/* navbar links */
.navbar-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    gap: 5%;
}

.navbar-link-item {
    color: #6a6a6a;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.navbar-link-item:hover {
    background-color: #e9e9e9;
    color: #000000;
    font-weight: 500;
}


/* contact */
.navbar-contact {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #eeeeee;
    color: rgb(12, 110, 158);
    white-space: nowrap;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.navbar-contact:hover {
    background-color: #d1d1d1;
    color: #000000;
}


/* toggler */
.navbar-toggler {
    cursor: pointer;
    display: none; /* Hide button by default */
    transition: all 0.2s ease-in-out;
}

.navbar-toggler:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}

.navbar-link.collapsed {
    display: none; /* Hide links when navbar is collapsed */
}

.navbar-right.collapsed {
    flex-direction: column;
    align-items: flex-end;
}


/* mobile view  */
@media (max-width: 1000px) {
    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
        color: #6a6a6a;
        transition: all 0.2s ease-in-out;
    }

    .navbar-link-item:hover {
        transform: translate(5px, 0);
        background-color: rgb(33, 33, 33);
    }

    .navbar-link.expanded{
        display: flex; /* Use flexbox to lay out children */
        flex-direction: column; /* Stack children vertically */
        align-items: flex-end; /* Center children horizontally */
        justify-content: center; /* Center children vertically */
        position: fixed; /* Optional: Make it fullscreen */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        top: 0;
        right: 0;
        background-color: rgb(62, 62, 62); /* Or any color */
        z-index: 10; /* Ensure it's above other content */
        padding: 0;
        margin: 0; /* Reset margin */
        list-style: none; /* Remove list bullets */
        overflow-y: auto; /* Add scroll for small screens */
    }

    .navbar-link.expanded .navbar-link-item {
        margin-right: 1rem;
        padding: 1rem 2rem;
        font-size: 3rem;
        font-weight: 500;
        color: #ffffff;
        transition: all 0.2s ease-in-out;
    }

    .navbar-toggler.expanded {
        color: #f1f1f1;
        z-index: 11; /* Ensure it's above other content */
    }
}


