.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 20%;
    gap: 7%;
}

.navbar-logo {
    width: fit-content;
}

.navbar-logo img {
    width: 90%;
    height: 90%;
}

.navbar-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 7%;
}

.navbar-page-item {
    color: #7e7e7e;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navbar-page-item:hover {
    color: #000000;
}


/* mobile view  */
@media screen and (max-width: 650px) {
    .navbar{
        margin-bottom: 30%;
    }
    .navbar-page {
        gap: 10%;
    }
    .navbar-page-item {
        font-size: 1rem;
    }
}