.signup-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-field-form {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.signup-field-input {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc; /* Adjust border color as needed */
    border-radius: 5px; /* Rounded corners for the input field */
    outline: none; 
    transition: 0.3s ease-in-out; 
}

.signup-field-input:focus {
    border: 1px solid #333; /* Add a grey border color when the input is focused */
}

.signup-field-input::placeholder {
    color: #888; /* Placeholder text color */
}

.signup-field-btn {
    width: 40%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #333; /* Adjust button color as needed */
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Changes cursor to pointer on hover */
    outline: none; /* Removes the default focus outline */
    transition: 0.2s ease-in-out;
}

.signup-field-btn:hover {
    background-color: #555; /* Darkens button on hover */
}

.signup-message {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    padding: 2%;
    font-size: 1rem;
    border: 1px solid #242424;
    border-radius: 0.5rem;
    font-weight: 450;
    background-color: rgb(233, 233, 233);
    text-align: center;
}



/* mobile view */
@media screen and (max-width: 768px) {
    .signup-field {
        margin-bottom: 10%;
    }

    .signup-field-form {
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        margin-top: 10%;
    }

    .signup-field-input {
        width: 80%;
        margin-bottom: 5%;
    }

    .signup-field-btn {
        width: 30%;
    }

    .signup-message {
        width: 40%;
        margin-top: 3%;
        padding: 2%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 450px) {
    .signup-field-form {
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        margin-top: 10%;
    }

    .signup-field-btn {
        width: 40%;
    }

}