.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* header */
.tech-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20rem;
    gap: 10rem;
}

.tech-header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.tech-title {
    color: rgb(14, 14, 14);
    text-align: left;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.tech-description {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #787878;
    margin-bottom: 5%;
}

.tech-header-img {
    width: 50%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    animation: opacity 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.tech-header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


/* tech section */
.tech-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}

.tech-section-header {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.tech-section-title {
    width: 40%;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3%;
}

.tech-section-description {
    width: 50%;
    padding-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #787878;
    margin-bottom: 5%;
}

/* tech section top */
.tech-section-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 94%;
    padding: 3%;
    border-radius: 1rem;
    margin-bottom: 1%;
}

.tech-section-top-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1%;
}

.tech-section-top-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #C4C4C4;
}

.tech-section-top-svg {
    width: 100%;
    height: 100%;
}

.tech-section-top-svg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* tech section bottom */
.tech-section-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10%;
    gap: 1%;
}

.tech-section-bottom-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    padding: 3%;
    border-radius: 1rem;
}

.tech-section-bottom-item-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tech-section-bottom-item-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3%;
}

.tech-section-bottom-item-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #C4C4C4;
}

.tech-section-bottom-svg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* AI engine */
.tech-ai-engine {
    background: #151515;
    color: white;
}

.tech-ai-engine .tech-section-top-svg {
    transform: translateY(-10%);
}

/* Hardwares */
.tech-hardwares {
    background: #10212B;
    color: white;
}

/* Software */
.tech-software {
    background: #2E2743;
    color: white;
}

.tech-software .tech-section-top-svg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.tech-software .tech-section-top-svg img {
    width: 15%;
    object-fit: cover;
}




/* mobile view */
@media screen and (max-width: 900px) {
    .tech-header {
        flex-direction: column;
        width: 100%;
        margin-bottom: 30%;
        gap: 0;
    }
    .tech-header-text {
        width: 100%;
        align-items: center;
        margin-bottom: 0;
    }
    .tech-title {
        width: 100%;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .tech-description {
        width: 90%;
        font-size: 1rem;
    }
    .tech-header-img {
        width: 50%;
        height: 40vh;
        margin-bottom: 5%;
        display: flex;
        justify-content: flex-end;
    }

    .tech-section-header{
        width: 100%;
        flex-direction: column;
    }
    .tech-section-title {
        width: 50%;
        font-size: 2rem;
    }
    .tech-section-description {
        width: 90%;
        font-size: 1.2rem;
    }

    .tech-section-top {
        width: 92%;
        padding: 4%;
    }

    .tech-section-top-title {
        font-size: 1.3rem;
    }

    .tech-section-bottom {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .tech-section-bottom-item {
        width: 92%;
        padding: 4%;
        margin-bottom: 1%;
    }

    .tech-section-bottom-item-title {
        font-size: 1.1rem;
    }
    .tech-section-top-description {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 650px) {
    .tech-header {
        flex-direction: column;
        width: 100%;
        margin-bottom: 30%;
        gap: 0;
    }
    .tech-header-text {
        width: 100%;
        align-items: center;
        margin-bottom: 0;
    }
    .tech-title {
        width: 100%;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .tech-description {
        font-size: 1rem;
    }
    .tech-header-img {
        width: 70%;
        height: 30vh;
        margin-bottom: 5%;
        display: flex;
        justify-content: flex-end;
    }

    .tech-section {
        width: 100%;
        margin-bottom: 20%;
    }

    .tech-section-header{
        width: 100%;
        flex-direction: column;
        padding-bottom: 0;
    }
    .tech-section-title {
        width: 80%;
        font-size: 1.8rem;
    }
    .tech-section-description {
        width: 100%;
        font-size: 1rem;
    }


    .tech-section-top {
        width: 92%;
        padding: 4%;
    }
    .tech-section-top-title {
        font-size: 1.3rem;
    }

    .tech-section-bottom {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .tech-section-bottom-item {
        width: 92%;
        padding: 4%;
        margin-bottom: 1%;
    }

    .tech-section-bottom-item-title {
        font-size: 1.1rem;
    }
    .tech-section-top-description {
        font-size: 0.9rem;
    }
}